# Ignore node_modules (installed dependencies)
node_modules/

# Ignore Docker logs and volumes
docker-volume/
*.log

# Ignore environment variables (secrets)
.env

# Ignore system files
.DS_Store
Thumbs.db
